body {
  /* removes default browser margin */
  width: 100%;
  margin: 0px;
}

:root {
  /* default styles (not color)  */
  box-sizing: border-box;
  color-scheme: dark light;
  font-family: Arial, Helvetica, sans-serif;
}

@media (prefers-color-scheme: dark) {
  /* dark theme styles */
  :root {
    --text-color: #888;
    --bg-color: #202025;
    --bg-light-acc1: #252530;
    --bg-dark-acc1: #151520;
    --bg-dark-acc2: #101015;
    --link-color: #9e9eff;
  };

}
@media (prefers-color-scheme: light) {
  /* light theme styles */
  :root {
    --text-color: #000;
    --bg-color: #eee;
    --bg-light-acc1: #fff;
    --bg-dark-acc1: grey;
    --bg-dark-acc2: #ab6;
    --link-color: #9e9eff;
  };
}