:root {
  /* style set up for light dark themes  */
  box-sizing: border-box;
  color-scheme: light dark;
  --bg-color: #222;
  --text-color: #888;
}

body {
  /* removes default browser margin */
  width: 100%;
  margin: 0px;
}

@media (prefers-color-scheme: light) {
  /* light mode styles */

  
}

@media (prefers-color-scheme: dark) {
  /* dark mode styles */
  
}