/* IMPORTS */
@import url("base.css");

/* PLEASE EDIT ALL ELEMENT STYLE BELOW */

body {
  background-color: var(--bg-color);
}

/* styling of the Header */
header {
  border: 1px solid black;
  height: 100px;
  background-color: grey;
}

.logo {
  height: 100px;
  width: 100px;
}

 /* Need to use block to make a counter appear in top right */
.cartButton {
  display: inline-block;
  border: 1px solid black;
  border-radius: 10%;
  position: relative;
  height: 90%;
  vertical-align: center;
  align-content: right;
  float: right;
}
.badge {
  background-color: red;
  color: white;
  display: inline-block;
  align-self: right;
  vertical-align: top;
  position: absolute;
  top: -10px;
  right:-10px;
}

.cartButton .badge {
  position: absolute;
  top: -10px;
  right: -10px;
  padding: 5px 10px;
  border-radius: 50%;
  background: red;
  color: white;
}


/* styling of the nav bar */
nav {
  position: sticky;
  top: 0px;
  width: 100%;
  background-color: var(--bg-light-acc1);
  padding: 0px;
  margin: 0px;
  background-color: grey;
  ul {
    list-style: none;
    display: flex;
    justify-content: stretch;
    padding: 0px;
    margin: 0px;
    li {
      text-align: center;
      flex: 1;
      a {
        /* nav bar link styling */
        display: block;
        color: var(--link-color);
        transition: all 150ms ease-in;
        &:hover {
          background-color: greenyellow;
        };
      };
    };
  };
}


.tall {
  height: 2000px;
}


.products {
  height: 2000px;
}

.cart {
  margin: 20px auto;
  width: 80vw;
  display: flex;
  flex-flow: row wrap;
  align-content: baseline;
}

.product {
  background-color: var(--bg-light-acc1);
  height: 300px;
  width: 200px;
  margin: 8px;
  padding: 8px;
  justify-content: center;
}

.product .image {
  display: block;
  width: 100%;
  max-height: 180px;
  object-fit: cover;
}

.product .title {
  text-align: center;
}
.product .price {
  display: inline;
  text-align: center;
}

.product button {
  display: inline;
  text-align: end;
}

/* Styling of the footer */
footer {
  margin-bottom: 0px;
  background-color: grey;
  border: 1px solid black;
  height: 150px;
  width: 100%;
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  row-gap: 10px;
  column-gap: 50px;
  width: 90%;
  font-size: 20px;
  margin-left: 20%;
  margin-right:20%;
  grid-column: auto;
} 
