/* IMPORTS */
@import url("base.css");

/* PLEASE EDIT ALL ELEMENT STYLE BELOW */

body {
  background-color: var(--bg-color);
}

/* styling of the nav bar */
nav {
  position: sticky;
  top: 0px;
  width: 100vw;
  background-color: var(--bg-light-acc1);
  ul {
    list-style: none;
    display: flex;
    justify-content: stretch;
    padding: 0;
    li {
      text-align: center;
      flex: 1;
      a {
        /* nav bar link styling */
        display: block;
        color: var(--link-color);
        transition: all 150ms ease-in;
        &:hover {
          background-color: var(--bg-dark-acc1);
        }
      }
    }
  }
}

.tall {
  height: 2000px;
}

.product_listing {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  gap: 20px;
  padding: 5%;
}
.product {
  border: 2px solid darkgray;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.6);
}
.product img {
  width: 100%;
}

.product a {
  text-decoration: none;
  color: black;
}

.product .price {
  display: grid;
  grid-template-columns: 1fr 2fr;

  gap: 5px;
  margin-top: 15px;
}

footer {
  margin: 0 auto;
}

@media only screen and (max-width: 600px) {
  .product_listing {
    grid-template-columns: 1fr 1fr;
  }
  .product .price {
    display: grid;
    grid-template-columns: 1fr;
  }
  .product h2 {
    font-size: 1rem;
  }
}
